{%extends 'main.html'%}

{%block content%}

{% if page == 'login' %}

<div>
    <form method = "POST" action = "">
        {%csrf_token%}
        <label for ="username">Username:</label>
        <input type = "text" name = "username" placeholder="Enter Username"/>

        <label for="password">Password:</label>
        <input type = "password" name = "password" placeholder = "Enter Password"/>

        <button type= "submit">Login</button>
    </form>
    <p>Haven't  signed up yet?</p>
    <a href="{%url 'register'%}">Sign up</a>
</div>
{% else %}
<div>
    <form method = "POST" action = "">
        {%csrf_token%}
        {{form.as_p}}
        <button type= "submit">Register</button>
        <p>Already have an account?</p>
        <a href="{%url 'login'%}">Login</a>
    </form>

</div>
{% endif %}
{%endblock content%}